$curve: cubic-bezier(.87,-.41,.19,1.44);
$initAnimation: 0.5s;
$childAnimation: 0.7s;
$childDelay: .15s; 
$animation: slideIn;
$childCount: 5;
  
@mixin delayChildren($i) {
   @for $j from 0 through $i   {
    &:nth-child(#{$j}) {
      transition-delay: $j * $childDelay;
    } 
  }
}

%centerFlex {
  display: flex;
  align-items: center;
}

.menu {

  &--open-button {
    background-color: salmon;
    display: block;
    position: fixed;
    top: 2em;
    right: 2em;
    height: 2em;
    width: 2em;
  }

  &--container {
    @extend %centerFlex;
    transition: transform $initAnimation $curve, box-shadow $childAnimation*$childCount linear $initAnimation;

    transform: translateX(100%);
    box-shadow: 0 0 0 rgba(black, .5);

    background: cadetblue;
    color: #fff;
    flex-flow: row wrap;
    font-size: 1.5em;
    height: 100%;
    position: fixed;
    right: 0;
    width: 25%;
  }

  &--item {
    @extend %centerFlex;
    @include delayChildren($childCount);
    transition: transform  $childAnimation $curve;
    transform: translateX(100%);

    box-sizing: border-box;
    height: 100%/$childCount;
    padding: 3rem;
    width: 100%;
  }
}

.open {
  .menu {
    &--container {
      box-shadow: 0 0 1.67rem rgba(black, 0.5); 
      transform: translateX(0%);
    }
    &--item {
      transform: translateX(0%);
    }
  }
}


body {
  padding: 0; margin: 0; font-family: Helvetica, Sans-serif; 
}