<div class="menu">
    <div class="menu--open-button" id="menu--open-button"></div>

    <div class="menu--container">
        <div class="menu--item">
            Full Screen View [true]
        </div>
        <div class="menu--item">
            Open specific pen [input=text] [false]
        </div>
        <div class="menu--item">
            Open new pen [false]
        </div>
        <div class="menu--item">
            Menu button is displayed on hover [false]
        </div>
        <div class="menu--item">
            codepen.io
        </div>
    </div>
</div>